#---------------#
# SYSTEM CONFIG #
#---------------#
PORT=8090

#--------------#
# KAFKA CONFIG #
#--------------#
KAFKA_HOST=kafka
KAFKA_PORT=9092

#-----------------#
# ACTIVEMQ CONFIG #
#-----------------#
ACTIVEMQ_HOST=activemq
ACTIVEMQ_PORT_HTTP=8161
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=admin

#---------------#
# DOCKER CONFIG #
#---------------#
COMPOSE_PROJECT_NAME=messages